travelPlanWebService/src/main/webapp/wsdl/HelloWs.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://DefaultNamespace" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://DefaultNamespace" xmlns:intf="http://DefaultNamespace" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://DefaultNamespace" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getScenicSpotInfoRev">
    <complexType>
     <sequence>
      <element name="destination" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getScenicSpotInfoRevResponse">
    <complexType>
     <sequence>
      <element name="getScenicSpotInfoRevReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHello">
    <complexType>
     <sequence>
      <element name="name" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="sayHelloResponse">
    <complexType>
     <sequence>
      <element name="sayHelloReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getScenicSpotInfo1">
    <complexType/>
   </element>
   <element name="getScenicSpotInfo1Response">
    <complexType>
     <sequence>
      <element name="getScenicSpotInfo1Return" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getScenicSpotInfoRevResponse">

      <wsdl:part element="impl:getScenicSpotInfoRevResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScenicSpotInfoRevRequest">

      <wsdl:part element="impl:getScenicSpotInfoRev" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScenicSpotInfo1Request">

      <wsdl:part element="impl:getScenicSpotInfo1" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloResponse">

      <wsdl:part element="impl:sayHelloResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sayHelloRequest">

      <wsdl:part element="impl:sayHello" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScenicSpotInfo1Response">

      <wsdl:part element="impl:getScenicSpotInfo1Response" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="HelloWs">

      <wsdl:operation name="getScenicSpotInfoRev">

         <wsdl:input message="impl:getScenicSpotInfoRevRequest" name="getScenicSpotInfoRevRequest">

       </wsdl:input>

         <wsdl:output message="impl:getScenicSpotInfoRevResponse" name="getScenicSpotInfoRevResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdl:input message="impl:sayHelloRequest" name="sayHelloRequest">

       </wsdl:input>

         <wsdl:output message="impl:sayHelloResponse" name="sayHelloResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getScenicSpotInfo1">

         <wsdl:input message="impl:getScenicSpotInfo1Request" name="getScenicSpotInfo1Request">

       </wsdl:input>

         <wsdl:output message="impl:getScenicSpotInfo1Response" name="getScenicSpotInfo1Response">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="HelloWsSoapBinding" type="impl:HelloWs">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getScenicSpotInfoRev">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getScenicSpotInfoRevRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getScenicSpotInfoRevResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="sayHello">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sayHelloRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sayHelloResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getScenicSpotInfo1">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getScenicSpotInfo1Request">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getScenicSpotInfo1Response">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="HelloWsService">

      <wsdl:port binding="impl:HelloWsSoapBinding" name="HelloWs">

         <wsdlsoap:address location="http://localhost:8080/travelPlanWebService/services/HelloWs"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
