travelPlanWebService/src/main/webapp/wsdl/ScenicSpotWebService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://scenicSpotWsSet.travelPlan.lsm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://scenicSpotWsSet.travelPlan.lsm.com" xmlns:intf="http://scenicSpotWsSet.travelPlan.lsm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://scenicSpotWsSet.travelPlan.lsm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getScenicSpotInfoList">
    <complexType/>
   </element>
   <element name="getScenicSpotInfoListResponse">
    <complexType>
     <sequence>
      <element name="getScenicSpotInfoListReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSearchScenicSpotInfo">
    <complexType>
     <sequence>
      <element name="destination" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getSearchScenicSpotInfoResponse">
    <complexType>
     <sequence>
      <element name="getSearchScenicSpotInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getSearchScenicSpotInfoResponse">

      <wsdl:part element="impl:getSearchScenicSpotInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScenicSpotInfoListRequest">

      <wsdl:part element="impl:getScenicSpotInfoList" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getSearchScenicSpotInfoRequest">

      <wsdl:part element="impl:getSearchScenicSpotInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getScenicSpotInfoListResponse">

      <wsdl:part element="impl:getScenicSpotInfoListResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="ScenicSpotWebService">

      <wsdl:operation name="getScenicSpotInfoList">

         <wsdl:input message="impl:getScenicSpotInfoListRequest" name="getScenicSpotInfoListRequest">

       </wsdl:input>

         <wsdl:output message="impl:getScenicSpotInfoListResponse" name="getScenicSpotInfoListResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSearchScenicSpotInfo">

         <wsdl:input message="impl:getSearchScenicSpotInfoRequest" name="getSearchScenicSpotInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getSearchScenicSpotInfoResponse" name="getSearchScenicSpotInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="ScenicSpotWebServiceSoapBinding" type="impl:ScenicSpotWebService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getScenicSpotInfoList">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getScenicSpotInfoListRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getScenicSpotInfoListResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getSearchScenicSpotInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getSearchScenicSpotInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getSearchScenicSpotInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="ScenicSpotWebServiceService">

      <wsdl:port binding="impl:ScenicSpotWebServiceSoapBinding" name="ScenicSpotWebService">

         <wsdlsoap:address location="http://localhost:8080/travelPlanWebService/services/ScenicSpotWebService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
