travelPlanWebService/src/main/webapp/wsdl/TrainTicketWebService16.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://trainTicketWs.travelPlan.lsm.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://trainTicketWs.travelPlan.lsm.com" xmlns:intf="http://trainTicketWs.travelPlan.lsm.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://trainTicketWs.travelPlan.lsm.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getTrainTicketInfo">
    <complexType>
     <sequence>
      <element name="from" type="xsd:string"/>
      <element name="to" type="xsd:string"/>
      <element name="date" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getTrainTicketInfoResponse">
    <complexType>
     <sequence>
      <element name="getTrainTicketInfoReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getTrainTicketInfoResponse">

      <wsdl:part element="impl:getTrainTicketInfoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getTrainTicketInfoRequest">

      <wsdl:part element="impl:getTrainTicketInfo" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="TrainTicketWebService16">

      <wsdl:operation name="getTrainTicketInfo">

         <wsdl:input message="impl:getTrainTicketInfoRequest" name="getTrainTicketInfoRequest">

       </wsdl:input>

         <wsdl:output message="impl:getTrainTicketInfoResponse" name="getTrainTicketInfoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="TrainTicketWebService16SoapBinding" type="impl:TrainTicketWebService16">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getTrainTicketInfo">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getTrainTicketInfoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getTrainTicketInfoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="TrainTicketWebService16Service">

      <wsdl:port binding="impl:TrainTicketWebService16SoapBinding" name="TrainTicketWebService16">

         <wsdlsoap:address location="http://localhost:8080/travelPlanWebService/services/TrainTicketWebService16"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
